<footer class="text-center py-4 mt-5 border-top">
  <p class="mb-2">&copy; Humza Chaudhry, 100926654</p>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</footer>
