<% const contents = `
<section id="welcome" class="text-center">
  <h1>Hi there! This is my Personal website for my assignmento</h1>
  <p>View different thinks by clicking the above inputs!</p>
</section>
`; %>
<%- include('layout', { title, bodyClass, body: contents }) %>
