<% const contents = `
<section id="welcome" class="text-center">
  <h1>Hi there! This is my Personal Portfolio</h1>
  <p>View the different things on this website with the navigation panel above. I hope you enjoy!</p>
</section>
`; %>
<%- include('layout', { title, bodyClass, body: contents }) %>
